<article class="sg--child js-{{id}} js-waypoint" id="{{../id}}_{{id}}" data-section="{{id}}">

  <div class="sg--child-header">

    <a href="#{{id}}" class="sg--section-anchor collapse"><i class="ion-link"></i></a>
    {{#if name}}
    <h{{depth}} class="sg--child-heading">{{name}}</h{{depth}}>
    {{/if}}

    {{#if description}}
    <div class="sg--description">{{{description}}}</div>
    {{/if}}

  </div>

  {{~> section}}

</article>

{{#children}}
<article class="sg--grand-child js-{{id}} js-waypoint" id="{{../id}}_{{id}}" data-section="{{id}}">
  <a href="#{{id}}" class="sg--section-anchor collapse"><i class="ion-link"></i></a>
  {{~> childSection}}
</article>
{{/children}}
